@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2.3rem;
    text-transform: uppercase;
    margin:0;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

main {
    max-width: 1960px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
}

#landing {
    background: #fff;
}

#landing-image {
    height: 40vh; 
    flex: 0 1 80vh;
    margin: 0; 
    display:flex;
    justify-content: center;
    align-items: center; 
    float: center;
}

#landing-image img {
    width:400px;
}

#landing-text {
    display: flex;
    flex: 0 1 50vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    float: center;
    padding-right: 1rem;
    padding-left: 1rem;
    background: #eee;
}

#landing-text h2 {
    color: #888;
    text-align:center;
}

#landing-text h3 {
    text-align:center;
}

#landing-innertext p {
    text-decoration: none;  
    float: center;
    text-align:center;
    padding-right: 1rem;
    padding-left: 1rem; 
}

.header {
    padding: 1.5rem;
    text-align: center;
    background: rgb(65, 65, 65);
    color: #fff;
    height: 80px;
}

.header h2 {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

#about-info {
    padding: 0.8rem;
    margin-bottom: 3rem;
    text-align: center;
}

#about-info p {
    color: rgb(97, 89, 89); 
    text-decoration: none;
}

#projects-list {
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

#projects-list img {
    width:400px;
    margin:0;
    flex-direction: row;
    border-radius: 2%;
    margin: 20px;
}

#projects-list h3, p, a {
    text-decoration: underline;
    color: rgb(97, 89, 89);
    margin: 0;
}
.contact {
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    margin: 50px;
    padding-left: 300px;
}
.contact p{
    text-decoration: none;
    justify-content: center;
    margin: auto;
}
 
  form .form-group {
    margin: 0.625rem 0;
  }

.message-forms{
    font-size: large;
  }

  .message-forms label{
        cursor: pointer;
        display: inline-block;
        width: 150px;
        vertical-align: top;
  }
  .form-group input{
      width: 500px;
  }
  .form-group .message-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
    height: 200px;
    font-size: inherit;
  }

  form button {
      margin-left: 150px;
  }

  .resume {
    padding-left: 600px;
}
.resume p{
    text-decoration: none;
}

footer {
    text-align: center;
    padding: .5rem;
    background: rgb(65, 65, 65);
    bottom: 0;
}

footer img {
    width: 60px;
    margin: 20px;
    margin-top:0;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
}

footer p {
    color: #fff;
    text-decoration: none;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

/* Screen Sizes 768px and Up */
@media(min-width: 768px) {
    h1 {
        font-size: 2.75em;
        margin:0;
    }
    
    h2 {
        font-size: 1.4rem;
        text-align: center;
    }
    #landing {
        display: flex;
        height: 100%;
    }
    
    #landing-image {
        height: 100vh;
    }

    #landing-image img {
        width:400px;
    }

    #landing-text {
        height: 100vh;
        justify-content: center;
        align-items: center;
        float: center;
    }

    .header {
        padding: 1.3rem;
    }
    
    .header h2 {
        font-size: 1.7rem;
    }

    #about-info {
        font-size: 1.4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }
}

/* Screen Sizes 600px and Up */
@media(min-width: 1060px) {
    h1 {
        font-weight: 400;
        font-size: 3em;
    }
    
    h2 {
        font-weight: 400;
        font-size: 1.5rem;
    }
    
    #landing {
        display: flex;
        height: 100%;
        width:100%;
    }
    
    #landing-image {
        height: 100vh;
    }

    #landing-image img {
        width: 700px;
    }

    #landing-text {
        width: 50%;
        height: 100vh;
    }

    .header {
        padding: 1.3rem;
    }
    
    .header h2 {
        font-size: 2rem;
    }

    #about-info {
        font-size: 1.7rem;
        padding: 2rem;
        text-align: center;
    }
    #projects-list img {
        width: 400px;
    }
}